.chat__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.chat__container {
    width: 80%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgba($color: #00263a, $alpha: 0.1);
    box-shadow: 0px 13px 70px -9px rgba(0, 0, 0, 0.1);

    .sidebar,
    .chat {
        padding: 5px;
        height: 100%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 280px;
        gap: 2px;
        border-right: 1px solid rgba($color: #00263a, $alpha: 0.1);
    }

    .chat {
        display: flex;
        flex-direction: column;
        gap: 2px;
        flex: 3;
        background-color: white;

        &_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            border-radius: 12px;
            background-color: #ff9e16;
            padding: 10px;
            position: relative;
            & > p {
                margin: 2px;
                font-weight: bold;
            }
            & > button {
                border: none;
                border-radius: 50%;
                background-color: #ff9e16;

                & > span {
                    & > svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .dropdown {
                min-width: 180px;
                border-radius: 12px;
                padding: 10px;
                background-color: white;
                position: absolute;
                right: 0;
                top: 48px;
                border: 1px solid rgba($color: #212529, $alpha: 0.2);

                & > ul {
                    margin: 0;
                    padding: 0;
                    & > li {
                        list-style: none;

                        & > button {
                            width: 100%;
                            color: black;
                            font-weight: bold;
                            border: none;
                            padding: 5px 10px;
                            border-radius: 12px;
                        }

                        .delete {
                            color: white;
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px;
    color: white;
    border-radius: 12px;
    background-color: #26cad3;
    & > .type {
        font-weight: bold;
        font-size: 0.8rem;
    }

    & > .user {
        & > img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
        }

        & > span {
            font-weight: bold;
            font-size: 0.7rem;
        }
    }
}

.searchChat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 12px 12px 0 0;
    background-color: #212529;

    .searchForm {
        width: 100%;
        & > input {
            width: 100%;
            outline: none;
            border: none;
            border-radius: 12px;
            color: black;
            padding: 5px 10px;
            transition: 0.1s;
        }

        & > input:focus {
            border: 2px solid #26cad3;
        }
    }
}

.chats {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    background-color: #212529;

    animation-name: showTransition;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    & > h3 {
        font-weight: bold;
        color: white;
        font-size: 1.2rem;
        margin: 0;
    }
}

.userchat {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-radius: 12px;
    transition: 0.1s;
    border: 1px solid rgba($color: white, $alpha: 0.2);
    background-color: #212529;
    & > img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }

    &_info {
        & > span {
            font-weight: bold;
            color: #ff9e16;
        }

        & > p {
            color: white;
            font-size: 0.7rem;
            margin: 0;
        }
    }
}

.userchat:hover {
    cursor: pointer;
    background-color: #26cad3;

    & > .userchat_info {
        & > span {
            color: white;
        }
    }
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    height: 100%;
    gap: 5px;
    border: 1px solid rgba($color: black, $alpha: 0.1);
    overflow-y: auto;
    & > .message {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 5px;
        border-radius: 12px;
        & > .message__info {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 15px;
            & > .message__info-avatar {
                display: flex;
                align-items: center;
                flex-direction: column;
                & > img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    object-fit: cover;
                    object-position: center;
                }

                & > span {
                    font-weight: 200;
                    font-size: 0.8rem;
                    color: gray;
                }
            }
            & > p {
                font-weight: 600;
                margin: 0;
                padding: 5px 10px;
                color: white;
            }
        }

        & > .message__img {
            & > img {
                width: 320px;
                height: auto;
                border-radius: 12px;
            }
        }

        & > a {
            color: white;
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 12px;
            background-color: rgb(137, 205, 34);
        }
    }

    & > .sender {
        align-items: flex-end;
        & > div {
            & > p {
                background-color: #26cad3;
                border-radius: 12px 0 12px 12px;
                margin-right: 20px;
            }
        }
    }

    & > .addressee {
        align-self: flex-start;
        & > div {
            flex-direction: row-reverse;
            & > p {
                background-color: #ff9e16;
                border-radius: 0 12px 12px 12px;
                margin-left: 20px;
            }
        }
    }
}

.init {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h3 {
        font-size: 1rem;
        color: gray;
    }
}

.input_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
    margin: 5px 0;

    .input_message {
        width: 75%;
        outline: none;
        border: none;
        border-radius: 12px;
        color: black;
        padding: 10px;
        transition: 0.1s;
        border: 1px solid rgba($color: black, $alpha: 0.1);
    }

    .input_message:focus {
        border: 2px solid rgba($color: #26cad3, $alpha: 1);
    }

    .attach {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        & > label {
            & > svg {
                cursor: pointer;
            }
        }
    }

    & > button {
        width: 15%;
        min-width: 120px;
        border: none;
        color: white;
        transition: 0.1s;
        font-weight: bold;
        border-radius: 12px;
        background-color: #26cad3;
    }

    & > button:hover {
        transform: scale(1.04);
    }

    & > button:active {
        transform: scale(1);
    }
}

/* ------------------ Float chat ------------------ */
.floatChat__container {
    min-width: 420px;
    position: fixed;
    right: 12%;
    bottom: 0;
    padding: 5px;
    border-radius: 12px 12px 0 0;
    background-color: rgba($color: #ff9e16, $alpha: 0.9);
    box-shadow: 0px 13px 70px -9px rgba(0, 0, 0, 0.1);
    z-index: 10;
    &-head,
    &-info {
        display: flex;
        align-items: center;
        padding: 10px 0;
        position: relative;
        & > h3 {
            font-size: 1.3rem;
            font-weight: 700;
            margin: 0 5px 0 5px;
        }
        .length {
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: white;
            border-radius: 100%;
            background-color: rgb(0, 191, 0);
        }

        .close,
        .close-conversation {
            padding: 5px;
            cursor: pointer;
            border-radius: 50%;
            color: white;
            background-color: black;
        }

        .close {
            position: absolute;
            right: 10px;
        }
        .close-conversation {
            margin-left: 5px;
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 12px;
        margin-bottom: 5px;
        background-color: rgba($color: white, $alpha: 0.4);
        position: relative;
        & > span {
            font-weight: bold;
            font-size: 0.9rem;
        }
        & > p {
            font-size: 0.8rem;
            font-weight: 900;
            margin: 0;
            padding: 5px 10px;
            color: white;
            background-color: #212529;
            border-radius: 12px;
        }
    }
}

.fmessages {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-height: 550px;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    gap: 5px;
    overflow-y: auto;
    background-color: #212529;
    & > .fmessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 5px;
        border-radius: 12px;
        & > .message__info {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 15px;

            & > .message__info-avatar {
                display: flex;
                align-items: center;
                flex-direction: column;
                & > img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                    object-fit: cover;
                    object-position: center;
                }

                & > span {
                    font-weight: 200;
                    font-size: 0.6rem;
                    color: rgb(188, 188, 188);
                }
            }

            & > p {
                margin: 0;
                color: white;
                font-size: 0.9rem;
                font-weight: 600;
                padding: 5px 10px;
            }
        }

        & > .message__img {
            & > img {
                width: 200px;
                height: auto;
                border-radius: 12px;
            }
        }

        & > a {
            color: white;
            font-size: 0.8rem;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 8px;
            background-color: rgb(137, 205, 34);
        }
    }

    & > .sender {
        align-self: flex-end;
        & > div {
            & > p {
                background-color: rgba($color: #26cad3, $alpha: 0.6);
                border-radius: 12px 0 12px 12px;
                margin-right: 20px;
            }
        }
        & > .message__img,
        a {
            align-self: flex-end;
        }
    }

    & > .addressee {
        align-self: flex-start;
        & > div {
            flex-direction: row-reverse;
            & > p {
                background-color: rgba($color: #ff9e16, $alpha: 0.6);
                border-radius: 0 12px 12px 12px;
                margin-left: 10px;
            }
        }
        & > .message__img,
        a {
            align-self: flex-start;
        }
    }
}

@keyframes showTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
