$background-primary: #f1f1f2;
$background-grey: #212529;
$background-grey-2: #555559;
$primary-color: #00263a;
$secondary-color: #26cad3;
$yellow-color: #ff9e16;
$cyan-color: #26cad3;
$grey-transparent-color: rgba(0, 0, 0, 0.10);
